{% extends base %}

{% block postamble %}
<style>
    {% include 'style.css' %}
</style>
{% endblock %}

{% block contents %}

<div class="StickyTopBar BgLHCbDarkBlue FgLHCbLightBlue">
    <div class="Container">
        <h1> {{ app_name }} </h1>
    </div>
</div>

<div class="Container">
    <div class="DataBox">
        <div class="BokehSelect"> {{ embed(roots.select) }} </div>
        <div class="InnerDataBox">
            {{ embed(roots.channel_stream) }}
        </div>
    </div>
</div>

{% endblock %}
