body {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 12px;
    font-family: monospace;
    color: #5f5f5f;
    background: #243b98;
}

h1 {
    margin: 0;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

h2 {
    margin: 0;
    padding: 6px;
    font-size: 20px;
    background: #c0c0c0;
}

/**********/
/* Colors */
/**********/

.BgLHCbLightBlue {
    background: #cae9eb;
}

.FgLHCbLightBlue {
    color: #cae9eb;
}

.BgLHCbDarkBlue {
    background: #243b98;
}

.FgLHCbDarkBlue {
    color: #243b98;
}

.BgLHCbOrange {
    background: #ee3727;
}

.FgLHCbOrange {
    color: #ee3727;
}


/***************/
/* Main layout */
/***************/

.Container {
    width: 90%;
    margin: auto;
    display: flex;
}

.ToolBox {
    position: sticky;
    position: -webkit-sticky;  /* Safari */
    top: -60px;
}

.LeftBar {
    width: 25%;
}

.RightBar{
    flex-grow: 1;
    flex-shrink: 1;
}

.MultiPlotFrame {
    width: 100%;
    display: flex;
}

.SinglePlotFrame {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}


/***************************/
/* Frames surrending plots */
/***************************/

.BokehSelect {
    margin: 0;
    padding: 0 6px 6px 6px;
    background: #cae9eb;
}

.PlotBdy {
    margin: 18px;
    padding: 6px;
    background: #ffffff;
}


/******************/
/* Bokeh stylings */
/******************/

.bk-widget-box {
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    color: #243b98;
    background: #cae9eb;
}

.bk-widget-form-input {
    font-family: monospace;
    font-size: 14px;
    color: #243b98;
}
