body {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 12px;
    font-family: monospace;
    color: #5f5f5f;
}

h1 {
    margin: 0;
    padding: 12px;
    font-size: 24px;
}

h2 {
    margin: 0;
    padding: 6px;
    font-size: 20px;
    background: #c0c0c0;
}


.BgLHCbLightBlue {
    background: #cae9eb;
}

.FgLHCbLightBlue {
    color: #cae9eb;
}

.BgLHCbDarkBlue {
    background: #243b98;
}

.FgLHCbDarkBlue {
    color: #243b98;
}

.BgLHCbOrange {
    background: #ee3727;
}

.FgLHCbOrange {
    color: #ee3727;
}


.StickyTopBar {
    width: 100%;
}

.Container {
    width: 75%;
    margin: auto;
}

.DataBox {
    margin: 12px;
    border: 2px solid #c0c0c0;
}

.InnerDataBox {
    padding: 12px;
}

.BokehSelect {
    margin: 0;
    padding: 0 6px 6px 6px;
    font-family: monospace;
    font-size: 20px;
    background: #c0c0c0;
}


/* Bokeh stylings */

.bk-root {
    font-family: monospace;
    font-size: 14px;
    color: #5f5f5f;
}

.bk-widget-form-input {
    font-family: monospace;
    font-size: 14px;
    color: #5f5f5f;
}
